.button {
  @include font-style("Roboto Condensed", 700, 12px, normal, $color-default-white);
  cursor: pointer;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 20px 50px;
  border: none;
  outline: solid 4px $color-default-white;
  background-color: transparent;
  letter-spacing: 0.6px;
  min-width: 226px;
  min-height: 55px;

  @include vp-1365 {
    padding: 20px 30px;
    min-width: 183px;
    min-height: 57px;
  }

  &:hover {
    color: #103aae;
    background-color: $color-default-white;
  }

  &:active {
    color: $color-text;
    background-color: $color-default-white;
  }

  &:disabled {
    opacity: 0.5;
  }
}
