.footer {
  padding: 42px 103px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #030a1a;

  @include vp-1365 {
    padding: 47px 45px 49px;
  }

  @include vp-767 {
    display: grid;
    padding: 50px 15px 51px;
  }
}

.footer__navigation {
  display: flex;
  gap: 40px;
  padding-left: 48px;
  padding-bottom: 5px;

  @include vp-1365 {
    gap: 30px;
    padding-left: 55px;
    padding-bottom: 7px;
  }

  @include vp-767 {
    display: grid;

  }
}

.footer__navigation a {
  @include font-style("Roboto Condensed", 400, 14px, 21px, $color-default-white);
}

.footer__logo {
  @include vp-1365 {
    width: 81px;
    padding-bottom: 10px;
    padding-left: 1px;
  }
}
