.intro {
  background: conic-gradient(from 90deg at 16.03% 39.06%, #b80027, #003d85 62deg, #b80027 335deg);

  margin: 0 auto;

  @include vp-1199 {
    background: conic-gradient(from 88deg at 20.9% 38.8%, #b80027, #003d85 87deg, #b80027 341deg);
  }

  @include vp-767 {
    background: conic-gradient(from 113deg at 35.31% 34.22%, #b80027, #003d85 93deg, #b80027 341deg);
  }
}
