.reviews {
  margin: 0 auto;
  padding: 120px;
  position: relative;

  @include vp-1365 {
    padding: 91px 101px 99px;
  }

  @include vp-767 {
    padding: 63px 47px 70px;
  }
}

.reviews__slider {
  width: 560px;

  @include vp-1365 {
    width: 566px;
  }

  @include vp-767 {
    width: 226px;
  }
}

.reviews h2 {
  @include font-style("Alumni Sans", 600, 54px, normal, $color-text);
  letter-spacing: 1.62px;
  margin-top: 0;
  margin-bottom: 37px;
  padding-left: 2px;
  text-align: center;

  @include vp-1365 {
    font-size: 42px;
    letter-spacing: 1.26px;
    text-align: center;
    margin-bottom: 40px;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 0.96px;
    padding-left: 0;
    margin-bottom: 42px;
  }
}

.reviews__slide {
  background-color: #1c3374;
  display: grid;
  padding: 62px 62px 56px;
  box-sizing: border-box;
  gap: 0 28px;
  grid-template-columns: 80px auto;

  @include vp-1365 {
    padding: 62px 65px 56px;
  }

  @include vp-767 {
    grid-template-columns: 83px auto;
    gap: 15px;
    padding: 40px 25px 37px;
  }
}

.reviews__slide picture {
  grid-row: 1 / 3;

  @include vp-767 {
    grid-row: 1 / 2;
    padding-left: 16px;
  }
}

.reviews__image {
  border-radius: 50%;
}

.reviews__name h3 {
  @include font-style("Roboto Condensed", 700, 20px, 30px, $color-default-white);
  margin: -8px 0 14px;

  @include vp-767 {
    margin: 8px 0 0;
    line-height: 26px;
  }
}

.reviews__info {
  grid-column: 2 / 3;

  @include vp-767 {
    grid-column: 1 / 3;
  }
}

.reviews__info p {
  @include font-style("Roboto Condensed", 400, 16px, 22px, $color-default-white);
  margin: 0;

  @include vp-767 {
    text-align: center;
  }
}

.reviews__btn {
  width: 56px;
  height: 56px;
  top: 338px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/svg/slider-button.svg");

  @include vp-1365 {
    top: 296px;
  }

  @include vp-767 {
    width: 35px;
    height: 35px;
    top: 316px;
    background-size: 10px;
  }

  &--prev {
    left: 326px;

    @include vp-1365 {
      left: 25px;
    }

    @include vp-767 {
      left: 2px;
    }
  }

  &--next {
    right: 326px;
    transform: rotate(180deg);

    @include vp-1365 {
      right: 25px;
    }

    @include vp-767 {
      right: 2px;
    }
  }

  &::after {
    content: "";
    position: absolute;
  }

  &:hover,
  &:focus {
    border: 1px solid $color-text;
    border-radius: 50%;
  }

  &:active {
    background-image: url("../img/svg/slider-button-active.svg");
    border-radius: 50%;

    @include vp-767 {
      background-size: 100%;
    }
  }
}
